@using Aplicacion.UseCases.Propietario
@model DetalleTurneroResponse
@{
    ViewData["Area"] = "Propietarios";
}
<main>
    <div class="row">
        <div class="col-6 border-right">
            <div class="row">
                <div class="col-12">
                    <div class="h1">
                        @Model.Concepto
                    </div>
                </div>
                <div class="col-12">
                    <div class="h3">
                        @Model.Ciudad
                    </div>
                </div>
                <div class="col-12">
                    <div class="h4">
                        @Model.Calle @Model.Numero
                    </div>
                </div>
                <div class="col-12">
                    <div class="h3">
                        Capacidad máxima: @(Model.CantidadMaxima == 0 ? "Sin límite" : Model.CantidadMaxima.ToString())
                    </div>
                </div>
                <hr class="w-100" />
                <div class="col-8 offset-2">
                    <div class="row">
                        <div class="col-12 h4 text-center">
                            QR para otorgar turnos
                        </div>
                    </div>
                    <div class="col-12">
                        <img class="img-fluid" src="data:image/jpeg;base64, @Model.Qr" alt="Codigo QR" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <div class="h1 text-center">
                        Turno #####
                    </div>
                </div>
                <div class="col-12">
                    <div class="h3 text-center">
                        ## personas antes
                    </div>
                </div>
                <div class="col-8 offset-2 justify-content-center align-items-center h-100">
                    <form id="qr_form" asp-action="ProcesarQR" method="post">
                        <div class="row">
                            <div id="reader"></div>
                        </div>
                        <div>
                            <input class="text-center" type="text" id="qrdata" name="data" hidden />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink(
            "Editar",
            "Index",
            "EditarTurnero",
            new
            {
                idTurnero = @Model.Id
            },
            null)
    </div>
</main>
<script src="@Url.Content("~/Scripts/qrReader.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/product.validation.js")" type="text/javascript"></script>
