@using Aplicacion.UseCases.Propietario
@model List<ListarTurnerosDTO>
@{
    ViewData["Area"] = "Propietarios";
}

<main>
    <div class="row">
        <h1>
            Mis Turneros
        </h1>
        <div class="col-12" style="margin-top: 10px">
            <table class="table table-hover table-striped" style="display: @(Model.Count == 0 ? "none" : "block")">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Direccion</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var turnero in Model)
                    {
                        <tr>
                            <td> @turnero.Concepto </td>
                            <td> @turnero.Ciudad - @turnero.Calle @turnero.Numero </td>
                            <td>
                                @Html.ActionLink(
                                    "Detalle",
                                    "Index",
                                    "DetalleTurnero",
                                    new
                                         {
                                        idTurnero = turnero.Id
                                    },
                                    null
                                )
                            </td>
                            <td>
                                @Html.ActionLink(
                                    "Editar",
                                    "Index",
                                    "EditarTurnero",
                                    new
                                    {
                                        idTurnero = turnero.Id
                                    },
                                    null
                                )
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <span style="display: @(Model.Count == 0 ? "block" : "none")">Aún no creo ningún turnero</span>
        </div>
    </div>
    <footer>
        <form method="get" action="/Propietarios/CrearTurnero">
            <button type="submit">Nuevo Turnero</button>
        </form>
    </footer>
</main>
